# -*- coding: utf-8 -*-
import os.path

from saml2 import BINDING_HTTP_REDIRECT
from saml2 import BINDING_HTTP_POST
from saml2.extension.idpdisc import BINDING_DISCO
from saml2.saml import NAME_FORMAT_URI
from saml2.saml import NAMEID_FORMAT_TRANSIENT
from saml2.saml import NAMEID_FORMAT_PERSISTENT

from s2sproxy.util.attribute_module import IdentityAttributes

# Path to the xmlsec1 binary (or use saml2.sigver.get_xmlsec_binary)
xmlsec_path = '/usr/local/bin/xmlsec1'


def full_path(local_file):
    basedir = os.path.abspath(os.path.dirname(__file__))
    return os.path.join(basedir, local_file)


# Server host name
HOST = 'localhost'
# Server port
PORT = 8090

BASE = 'https://%s:%s' % (HOST, PORT)

# Url for discovery server if proxy is used in front of multiple IdP's
# If the proxy is only in front of one IdP, use the command line parameter '-e <entityid>'
DISCO_SRV = "http://localhost/role/idp.ds"

# Module instance for transformation of the attributes from the IdP
ATTRIBUTE_MODULE = IdentityAttributes()

# pysaml2 configuration, see https://github.com/rohe/pysaml2/blob/master/doc/howto/config.rst
CONFIG = {
    "entityid": "%s/proxy.xml" % BASE,
    "description": "A SAML2SAML proxy",
    "service": {
        "idp": {
            "name": "Proxy IdP",
            "endpoints": {
                "single_sign_on_service": [
                    ("%s/sso/redirect" % BASE, BINDING_HTTP_REDIRECT),
                    ("%s/sso/post" % BASE, BINDING_HTTP_POST),
                ],
            },
            "policy": {
                "default": {
                    "lifetime": {"minutes": 15},
                    "attribute_restrictions": None,  # means all I have
                    "name_form": NAME_FORMAT_URI,
                    "fail_on_missing_requested": False
                },
            },
            "subject_data": "./idp.subject",
            "name_id_format": [NAMEID_FORMAT_TRANSIENT,
                               NAMEID_FORMAT_PERSISTENT],
            "want_authn_requests_signed": False
        },
        "sp": {
            "endpoints": {
                "assertion_consumer_service": [
                    ("%s/acs/post" % BASE, BINDING_HTTP_POST),
                    ("%s/acs/redirect" % BASE, BINDING_HTTP_REDIRECT)
                ],
                "discovery_response": [
                    ("%s/disco" % BASE, BINDING_DISCO)
                ]
            }
        },
    },
    "debug": 1,
    "key_file": full_path("pki/mykey.pem"),  # Path to the private key
    "cert_file": full_path("pki/mycert.pem"),  # Path to the certificate
    "metadata": {
        "local": ["sp.xml", "idp.xml"],  # Path to the metadata of the SP's and IdP's
    },
    "organization": {
        "display_name": "Example Identities",
        "name": "Example Identiteter",
        "url": "http://www.example.com",
    },
    "contact_person": [
        {
            "contact_type": "technical",
            "given_name": "Technical",
            "email_address": "technical@example.com"
        }, {
            "contact_type": "support",
            "given_name": "Support",
            "email_address": "support@example.com"
        },
    ],
    "xmlsec_binary": xmlsec_path,
    "logger": {
        "rotating": {
            "filename": "idp.log",
            "maxBytes": 500000,
            "backupCount": 5,
        },
        "loglevel": "debug",
    }
}
