# -*- coding: utf-8 -*-

# Server hostname
HOST = 'localhost'
# Server port
PORT = 8090

# True if HTTPS should be u sed, false for plain HTTP
HTTPS = True
# If HTTPS is true you have to assign the server cert, key and certificate chain
SERVER_KEY = 'pki/new_server.key'
SERVER_CERT = 'pki/new_server.crt'
CERT_CHAIN = None

if HTTPS:
    BASEURL = 'https://%s' % HOST
else:
    BASEURL = 'http://%s' % HOST

STATIC_DIR = 'static'
# Filename for log
LOG_FILE = 'server.log'

# Beaker session configuration
# This session can be configured to use database, file, or memory
SESSION_OPTS = {
    'session.type': 'memory',
    'session.cookie_expires': True,  # Expire when the session is closed
    'session.auto': True,
}
